@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  scroll-snap-type:y mandatory;
  scroll-padding-top:40px;
  /* scroll-padding-bottom: -80px; */
  scroll-snap-stop: always;
}




@media (max-width: 768px) {
  :root {
    scroll-snap-type: unset;
    scroll-padding-top: unset;
    scroll-snap-stop: unset;
  }
}
body {
  margin: 0;
  font-family: "Baumans", system-ui!important;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
  
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  /* background:linear-gradient(120deg, #5be3ff, #66e5f6 30%, #bdf2b4 70%, #fffc83);  */
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:linear-gradient(90deg, #203B60 0%, #4C648B 100%)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  ::-webkit-scrollbar-thumb:hover {
    background: #004d40; /* Darker green scrollbar handle color on hover */
  }
}
