
.service{
    height:100%;
    padding: 50px;
   
    background: linear-gradient(90deg, #203B60 0%, #4C648B 100%);
    
}
.our_servive_heading{
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
  color:#E0E0E0;
  ;
}
.service_main_container{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 30px;
 
 
}

.service_left_container{
      background-color: #fff;
      height: 500px;
      padding: 50px;
      width: 45%;
}
.ourservice_img_container{
    height:200px;
    width:314px;
   
    
   
}
.ourservice_img{
    width: 100%;
    
}
.our_service_heading{
  width: 500px;
  height: 100px;
  
}
.our_service_description{
 
  width: 90%;
  height: 100px;
}

.our_service_heading_paragraph{
    font-family: Lato;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    text-align: left;
    
}
.our_service_paragraph{
  width: 70%;
 
}
.our_service_description_paragraph{
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}
.ourservice_img_container{
    height:200px;
    width:314px
}
@media screen and (max-width:1142px) and (min-width:768px){ 
  .service{
      padding: 50px 0px;
      width: 100%;
    
      
  }

  .our_servive_heading{
      font-size: 42px;
      line-height: 52px;
      width: 100%;
     
  }
  .our_service_heading_paragraph {
    font-size: 42px;
  }
  
  .ourservice_img {
    width: 100%;
  }
  .service_left_container{
     width: 90%;
     padding: 40px;
     
     margin:auto;
    
     height: auto;
  }



  .service_main_container{
      flex-direction: column;
      margin: 0px;
  }
  .ourservice_img_container{
      width: 260px;
      height: 180px;
  }
  .our_service_paragraph{
      
      width: 100%;
      height: auto;
      padding: 0px;
      margin: 0px;
      width: 60%;   
  }
  .our_service_heading_paragraph{
      font-family: Lato;
      font-size: 40px;
      font-weight: 400;
      line-height: 58.4px;
      text-align: left;
  }


  .our_service_description{
   
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    
  }
  .our_service_description_paragraph{
    font-size: 24px;
    font-family: "Baumans", system-ui;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
  }
}

@media screen and (max-width: 767px) {
    .service{
        padding: 40px 0px;
        width: 100%;
        
    }
    .our_servive_heading{
        font-size: 36px;
        line-height: 43.2px;
    }
    .our_service_heading_paragraph {
      font-size: 24px;
    }
    
    .ourservice_img {
      width: 100%;
    }
    .service_left_container{
       width: 90%;
       
       padding:80px 20px;
       height: auto;
    }
    .service_main_container{
        flex-direction: column;
        margin: 0px;
    }
    .ourservice_img_container{
        width: 170px;
        height: 100px;
    }
    .our_service_paragraph{
        
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
        width: 252px;
        height: 72px;
        
        
        
    }
    .our_service_heading_paragraph{
        font-family: Lato;
        font-size: 28px;
        font-weight: 400;
        line-height: 38.4px;
        text-align: left;
    }


    .our_service_description{
     
      width: 100%;
      height: auto;
      padding: 0px;
      margin: 0px;
      height: 150px;
      
    }
    .our_service_description_paragraph{
      font-size: 16px;
      font-family: "Baumans", system-ui;
      font-weight: 400;
      font-style: normal;
    }
  }