.case_study_mainContainer{
    padding: 50px 30px;
}

.case_study_heading{
    
    font-family: Lato;
    font-size: 40px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    color:#4D658D;
    


}
.case_study_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    padding: 50px 10px;
   
    
    margin: auto;
   
   
}

.case_study_inner_containers{
    display: flex;
    justify-content: space-between; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px 0px;
    border:1px solid #0F1C2E;
    cursor: pointer;
}
.case_study_study_name{
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color:#1E3A5F;
    padding: 0px 30px;
}
.svg_case_study{
    padding: 0px 30px;
}



@media screen and (max-width:1124px) and (min-width:768px){
    .case_study_container{
        grid-template-columns: repeat(1,1fr);
    }
    .case_study_mainContainer{
        padding: 20px 10px;
    }
    .case_study_inner_containers{
        flex-direction: column;
    
        align-items: center; /* Center vertically */
        padding: 10px 0px;
        border:1px solid #0F1C2E
    
      
    
    
    }

}
@media screen and (max-width:767px) and (min-width:320px){
    .case_study_container{
        grid-template-columns: repeat(1,1fr);
    }
    .case_study_mainContainer{
        padding: 20px 10px;
      
    }
    .case_study_inner_containers{
        flex-direction: column;
    
        align-items: center; /* Center vertically */
        padding: 10px 0px;
        border:1px solid #0F1C2E
    }
    .case_study_study_name{
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;
        color:#1E3A5F;
        padding: 0px 30px;
        text-align: center;
    }
}
@media screen and (max-width:320px) {
    .case_study_container{
        grid-template-columns: repeat(1,1fr);
    }
    .case_study_mainContainer{
        padding: 20px 10px;
      
    }
    .case_study_inner_containers{
        flex-direction: column;
    
        align-items: center; /* Center vertically */
        padding: 10px 0px;
        border:1px solid #0F1C2E
    }
    .case_study_study_name{
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 38px;
        text-align: left;
        color:#1E3A5F;
        padding: 0px 30px;
        text-align: center;
    }
}
